<% if current_user %>
	<p>Your area code is <%= current_user.areacode %></p>
	<p>Next outage: <strong><%= @load.next_outage %></strong></p>
	<p>Next outage period: <strong><%= @load.next_outage_period %></strong></p>
<% else %>
	<ol>
		<% @loads.each do |ld| %>
			<p>Area Code: <%= ld.area_code %></p>
			<p>Next outage: <%= ld.next_outage %></p>
			<p>Next outage period: <%= ld.next_outage_period %></p>
		<% end %>
	</ol>
<% end %>