<style>
  body {
    background-image: url(http://www.timeslive.co.za/Feeds/Reuters_Images/2012/08/12/khayelitsha-township-xgold-2012/ALTERNATES/crop_630x400/Khayelitsha+township+xgold+2012)
  }
  .field{
    color: rgba(255, 255, 255, 1);
    text-align: center;
  }
  h2 {
    text-align: center;
    color: white;
  }
  .actions {
    text-align: center;
  }

</style>
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.phone_field :phonenum, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
